@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@theme {
    --font-open-sans: "Open Sans", sans-serif;
    --font-bubblegum-sans: "Bubblegum Sans", sans-serif;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }
    body {
        @apply relative font-open-sans not-italic;
        font-optical-sizing: auto;
    }
}

@layer utilities {
    .absolute-center {
        @apply absolute left-1/2 -translate-x-1/2 -translate-y-1/2;
    }
}

@layer components {
    .btn-hero {
        @apply cursor-pointer text-slate-50 bg-rose-600 hover:bg-rose-700 px-5 py-3 shadow-lg rounded-lg font-semibold transition-all delay-200;
    }

    .sparkle {
        @apply fill-rose-600/50;
    }

    .test {
        @apply right-[25%];
    }
}

.wave-divider {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 60px;
}

@media (min-width: 768px) {
    .wave-divider svg {
        height: 150px;
    }
}